name: CI-Workflows

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/**'
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  actionlint:
    runs-on: ubuntu-slim
    timeout-minutes: 3
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.48.1

      - name: Run actionlint
        run: actionlint -color -oneline

  ghalint:
    runs-on: ubuntu-slim
    timeout-minutes: 3
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.48.1

      - name: Run ghalint
        run: ghalint run