name: CI

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'src/**'
      - '.github/workflows/ci.yml'
  push:
    branches:
      - main

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_VERSION: 10.0.x
  SLNX_PATH: ${{ github.workspace }}/src/EventsR3Generator.slnx

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Restore
        run: dotnet restore "$SLNX_PATH"

      - name: Build
        run: dotnet build "$SLNX_PATH" --configuration Debug --no-restore

  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Restore
        run: dotnet restore "$SLNX_PATH"

      - name: Test
        run: dotnet test "$SLNX_PATH" --configuration Debug --no-restore